 
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {

    background-image: url('https://firebasestorage.googleapis.com/v0/b/usercorp-87713.appspot.com/o/pexels-karolina-grabowska-4047073.jpg?alt=media&token=e499c7c9-2180-4aa7-9b9b-77540278732f');
  background-size:cover;
  mix-blend-mode: multiply;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;  
        background-color: #ebcbcc;            
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}